{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{filepath.name}} {% endblock %}</h1>
{% endblock %}

{% block head %}
  <style>
    {% for name, font in fonts.items() -%}
    @font-face {
        font-family: {{ name }};
        src: url('{{ url_for('app_file', filepath=font['path']) }}') format('truetype');
    }
    {% endfor %}

    {% for name, style in text_styles.items() -%}
    .textstyle_{{ name.replace(' ', '_') }} {
        font-family: '{{ style['name'] }}';
        font-size: {{ style['sizeDefault'] | int }}px;
        {% if 'bold' in name or style.get('bold', False)-%}
        font-weight: bold;
        {% endif %}
    }
    {#
        {% for k, v in style.items() -%}
          {% if k is string and k.startswith('size') and not k.endswith('Default') %}
    @media screen and (min-width: {{ k[4:] | int }}px) {
      .textstyle_{{ name.replace(' ', '_') }} {
        font-size: {{ v | int }}px;
      }
    }
          {% endif %}
        {% endfor %}

    #}
    {% endfor %}
    h3 {
      margin: 5px;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    #content, #columns {
      width: 100%;
      height: 100%;
    }

    #content {
      display: flex;
      flex-flow: column;
      overflow: hidden;
    }

    #columns {
      display: flex;
      flex: 0 1 auto;
    }

    #preview {
      /* background: pink; */
      position: relative;
    }

    #attributes {
      background: lime;
      flex: 1 200px;
    }

    .header h3 {
      display: inline;
    }

    .screen_block {
      position: absolute;
      /* border: 3px dotted red; */
      box-sizing: border-box;
    }

    .screen_block_hidden {
      display: none;
    }

    .force_show {
      display: block;
    }

    .screen_button, .screen_radiobutton, .screen_checkbutton {
      z-index: 1;
    }

    .screen_repr {
      position: absolute;
      visibility: hidden;
      box-sizing: inherit;
    }

    .screen_repr_state_normal {
      visibility: visible;
    }

    .screen_block:hover > .screen_repr_state_normal {
      visibility: hidden;
    }

    .screen_block:hover > .screen_repr_state_hover,
    .screen_block:active > .screen_repr_state_active {
      visibility: visible;
    }

    .screen_combobox_checked {
      z-index: 2;
    }

    .screen_repr_checkable {
      visibility: visible;
      opacity: 0;
      margin: 0;
    }

    .screen_repr_checkable:checked ~ .screen_repr_state_normal,
    .screen_repr_checkable:checked ~ .screen_repr_state_hover,
    .screen_repr_checkable:checked ~ .screen_repr_state_active {
      visibility: hidden;
    }

    .screen_repr_checkable:checked ~ .screen_repr_state_checked,
    .screen_combobox_checked .screen_repr_state_checked {
      visibility: visible;
    }

    .screen_block:hover > .screen_repr_checkable:checked ~ .screen_repr_state_checked {
      visibility: hidden;
    }

    .screen_block:hover > .screen_repr_checkable:checked ~ .screen_repr_state_checkedhover,
    .screen_block:active > .screen_repr_checkable:checked ~ .screen_repr_state_checkedactive {
      visibility: visible;
    }

    .screen_repr_text {
      margin: 0px;
      display: flex;
      align-items: center;
    }

    .screen_repr_text span {
      color: transparent;
      background-clip: text;
    }

    .screen_repr_checkable {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  
    .screen_swf {
      background: lightgray;
      opacity: 0.5;
      text-wrap: wrap;
      text-align: center;
    }

    .text_align_centre {
      text-align: center;
      justify-content: center;
    }

    .text_align_right {
      text-align: right;
      justify-content: right;
    }

    .text_multiline {
      text-wrap: wrap;
    }

    .text_dropshadow {
      filter: drop-shadow(1px 1px black)
    }

    .flip_horizontal {
      transform: scaleX(-1);
    }

    .flip_vertical {
      transform: scaleY(-1);
    }

    .ui-button {
      z-index: 1;
    }

    .ae-preview {
      flex: 4 800px;
    }

    .de-preview {
      aspect-ratio: 4 / 3;
      height: 100%;
      flex: none;
      justify-content: center;
      margin: 0 auto;
    }
  </style>

  <script>
    $(function() {
      var openedDrpdown = false;;
      $( ".screen_combobox" ).each( function() {
        const root = $( this );
        root.data('opened', false);
        $(this).find(".screen_role_label, .screen_role_arrowbutton").click( function(event) {
          if (openedDrpdown) {
            return;
          }
          root.addClass('screen_combobox_checked');
          root.find(".screen_role_listbox").removeClass("screen_block_hidden");
          openedDrpdown = true;
          event.stopPropagation();
        })
      });

      $( document ).click( function() {
        $( ".screen_combobox .screen_role_listbox" ).addClass("screen_block_hidden");
        $( ".screen_combobox" ).removeClass("screen_combobox_checked");
        openedDrpdown = false;
      });

      $( ".screen_block[tooltip_text]" )
      .filter("[tooltip_text!='']")
      .hover(
        function(event) {
          $( ".screen_role_tooltip span" ).text($(this).attr("tooltip_text"))
          event.stopPropagation();
        },
        function(event) {
          $( ".screen_role_tooltip span" ).text("")
          event.stopPropagation();
        }
      )

      $( ".screen_block[sound_onhover]" )
      .filter("[sound_onhover!='']")
      .each(function(i) {
        $("#" + $(this).attr("sound_onhover"))
          .clone()
          .attr("id", "onhover-" + i)
          .appendTo($(this));
        $(this).data("hover_sound", i);
      })
      .mouseenter(function() {
        $("#onhover-" + $(this).data("hover_sound"))[0].play();
      })

      $( ".screen_block[sound_onclick]" )
      .filter("[sound_onclick!='']")
      .each(function(i) {
        $("#" + $(this).attr("sound_onclick"))
          .clone()
          .attr("id", "onclick-" + i)
          .appendTo($(this));
        $(this).data("click_sound", i);
      })
      .click(function() {
        $("#onclick-" + $(this).data("click_sound"))[0].play();
      })

      $( "audio[volume!='']" ).each(function() {
        $(this).prop('volume', parseFloat($(this).attr("volume")))
      });

      $( "#btn_show_in_files" ).click(function() {
        $.ajax({
          url: $(this).attr("url")
        })
      });

      $( ".screen_role_itemtemplate" ).addClass('force_show');

      $( "#btn_toggle_listbox_items" ).click(function() {
        $( ".screen_role_itemtemplate" ).toggleClass('force_show')
      });

      $( "#btn_toggle_de" ).click(function() {
        $( "#preview" ).toggleClass('de-preview').toggleClass('ae-preview')
      });
    });
  </script>

  {% for sound in sounds %}
  <audio preload="auto" id="{{ sound['name'] }}" volume="{{ sound['volume'] }}"> <source src="{{ url_for('app_sound', filepath=sound['name']) }}"></source> </audio>
  {% endfor %}

{% endblock %}

{% block content %}
  <div class="header">
    <h3>{{filepath.name}}</h3>
    <a class="ui-button ui-corner-all ui-button-icon-only" title="Back to File Select" href="{{ url_for('app_list_screens', selected=filepath) }}"><span class="ui-icon ui-icon-arrowreturnthick-1-n"></span></a>
    <button id="btn_show_in_files" class="ui-button ui-corner-all ui-button-icon-only" title="Open Containinf Folder" url="{{ url_for('app_show_file', filepath=filepath) }}"><span class="ui-icon ui-icon ui-icon-folder-open"></span></button>
    <button id="btn_toggle_listbox_items" class="ui-button ui-corner-all ui-button-icon-only" title="Toggle display of listbox items"><span class="ui-icon ui-icon ui-icon-document-b"></span></button>
    <button id="btn_toggle_de" class="ui-button ui-corner-all ui-button-icon-only" title="Toggle DE mode"><span class="ui-icon ui-icon 	ui-icon-star"></span></button>
  </div>
  <section id="columns">
    <div id="preview" class="column ae-preview">
      {{preview_html|safe}}
    </div>
    <!-- <div id="attributes" class="column">

    </div> -->
  </section>
{% endblock %}